In [23]:
import pandas as pd
import numpy as np

In [2]:
dataframe_1 = pd.read_csv("nyc_weather_2018.csv")
dataframe_2 = pd.read_csv("weather_stations.csv")
weather = dataframe_1
station = dataframe_2

In [3]:
weather.head(3)

                  date datatype            station attributes  value
0  2018-01-01T00:00:00     PRCP  GHCND:US1CTFR0039       ,,N,    0.0
1  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0015       ,,N,    0.0
2  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0015       ,,N,    0.0

In [4]:
station.head(3)

,id,name,latitude,longitude,elevation
0,GHCND:US1CTFR0022,"STAMFORD 2.6 SSW, CT US",41.064100,-73.577000,36.6
1,GHCND:US1CTFR0039,"STAMFORD 4.2 S, CT US",41.037788,-73.568176,6.4
2,GHCND:US1NJBG0001,"BERGENFIELD 0.3 SW, NJ US",40.921298,-74.001983,20.1

# EX1

In [5]:
station.rename(columns={'id': 'station'}, inplace=True)
station.columns

Index(['station', 'name', 'latitude', 'longitude', 'elevation'], dtype='object')

In [6]:
weather_snow = weather[weather.datatype=='SNOW']
weather_snow.head(3)

                  date datatype            station attributes  value
2  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0015       ,,N,    0.0
4  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0017       ,,N,    0.0
7  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0018       ,,N,    0.0

In [7]:
station_us = station[station.name.str.contains('NJ US')]
station_us.head(3)

,station,name,latitude,longitude,elevation
2,GHCND:US1NJBG0001,"BERGENFIELD 0.3 SW, NJ US",40.921298,-74.001983,20.1
3,GHCND:US1NJBG0002,"SADDLE BROOK TWP 0.6 E, NJ US",40.902694,-74.083358,16.8
4,GHCND:US1NJBG0003,"TENAFLY 1.3 W, NJ US",40.914670,-73.977500,21.6

In [8]:
info = weather_snow.merge(station_us, how='inner', on='station')
info.head(3)

,date,datatype,station,attributes,value,name,latitude,longitude,elevation
0,2018-01-01T00:00:00,SNOW,GHCND:US1NJBG0015,",,N,",0.0,"NORTH ARLINGTON 0.7 WNW, NJ US",40.791492,-74.13979,17.7
1,2018-01-02T00:00:00,SNOW,GHCND:US1NJBG0015,",,N,",0.0,"NORTH ARLINGTON 0.7 WNW, NJ US",40.791492,-74.13979,17.7
2,2018-01-03T00:00:00,SNOW,GHCND:US1NJBG0015,",,N,",0.0,"NORTH ARLINGTON 0.7 WNW, NJ US",40.791492,-74.13979,17.7

In [9]:
info.shape

(8347, 9)

In [10]:
info['station'].unique().shape

(66,)

In [11]:
info.drop_duplicates('station', inplace=True)  # scroll down a little to see why we need to drop duplicates
info.shape

(66, 9)

In [12]:
info.elevation.mean()

58.34848484848487

# EX2

In [13]:
dataframe_3 = pd.read_csv("earthquakes.csv")
earthquakes = dataframe_3
earthquakes.head(2)

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,...,",ci,",automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,...,",ci,",automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...

In [14]:
earthquakes.magType.unique()

array(['ml', 'md', 'mb', 'mww', 'mb_lg', 'mwr', 'mw', 'mh', 'ms_20',
       'mwb', nan], dtype=object)

In [16]:
mag_ml = earthquakes[earthquakes.magType=='ml']
mag_ml.head(2)

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,...,",ci,",automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,...,",ci,",automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...

In [17]:
mag_ml = mag_ml.assign(
    mag_bin = pd.cut(mag_ml.mag, bins=5, labels=['nor', 'low', 'med', 'high', 'very high']))

mag_ml.head(3)
mag_ml.mag_bin.value_counts()

low          2990
med          2921
nor           509
high          372
very high      11
Name: mag_bin, dtype: int64

# EX3

In [18]:
dataframe_4 = pd.read_csv("weather_by_station.csv")
wbs = dataframe_4
wbs.sample(3, random_state=0)

,date,datatype,station,value,station_name
27422,2018-04-29,WDF5,GHCND:USW00094741,310.0,"TETERBORO AIRPORT, NJ US"
19317,2018-03-24,WSF5,GHCND:USW00094728,8.5,"NY CITY CENTRAL PARK, NY US"
13778,2018-03-01,PGTM,GHCND:USW00054743,2351.0,"CALDWELL ESSEX CO AIRPORT, NJ US"

In [19]:
wbs.datatype.unique()

array(['PRCP', 'SNOW', 'SNWD', 'WESF', 'WESD', 'TMAX', 'TMIN', 'TOBS',
       'AWND', 'TAVG', 'WDF2', 'WDF5', 'WSF2', 'WSF5', 'PGTM', 'DAPR',
       'MDPR', 'WT01', 'WT02', 'WT09', 'WT08', 'WT04', 'WT06', 'WT03',
       'WT11', 'WT05', 'TSUN'], dtype=object)

In [20]:
wbs.index.values

array([    0,     1,     2, ..., 80253, 80254, 80255], dtype=int64)

In [21]:
wbs = wbs.assign(month=pd.DatetimeIndex(wbs.date).month)
wbs.head(3)

,date,datatype,station,value,station_name,month
0,2018-01-01,PRCP,GHCND:US1CTFR0039,0.0,"STAMFORD 4.2 S, CT US",1
1,2018-01-01,PRCP,GHCND:US1NJBG0015,0.0,"NORTH ARLINGTON 0.7 WNW, NJ US",1
2,2018-01-01,SNOW,GHCND:US1NJBG0015,0.0,"NORTH ARLINGTON 0.7 WNW, NJ US",1

In [25]:
pd.crosstab(index=wbs.station, columns=wbs.month, values=wbs.value,
           aggfunc=np.mean
).head(3)

month,1,2,3,4,5,6,7,8,9,10,11,12
station,,,,,,,,,,,,
GHCND:US1CTFR0039,9.762857,9.906452,9.580556,14.082609,2.722581,6.368421,3.403226,7.220833,8.200000,3.893548,5.610,6.659091
GHCND:US1NJBG0003,14.255556,23.450000,26.518750,9.742000,3.995000,1.461111,14.692308,7.789655,5.274419,1.745833,9.322,3.839474
GHCND:US1NJBG0010,NaN,NaN,33.800000,18.437500,6.700000,7.700000,11.038462,21.400000,22.063636,13.340000,19.200,NaN

In [27]:
pd.crosstab(index=wbs.station, columns=wbs.month).head(3)

month              1   2   3   4   5   6   7   8   9   10  11  12
station
GHCND:US1CTFR0039  35  31  36  23  31  19  31  24  30  31  30  22
GHCND:US1NJBG0003   9  22  32  50  20  18  13  29  43  48  50  38
GHCND:US1NJBG0010   0   0   2   8  13  11  13  13  11   5   6   0