In [2]:
import pandas as pd

In [3]:
dataset = pd.read_csv('earthquakes.csv')
df = dataset
df.iloc[:3, :]

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,...,",ci,",automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,...,",ci,",automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...
2,NaN,4.4,37389194,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.021370,28.0,21.0,",ci37389194,",3.42,ml,...,",ci,",automatic,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0,1539536756176,https://earthquake.usgs.gov/earthquakes/eventp...

In [4]:
df.columns

Index(['alert', 'cdi', 'code', 'detail', 'dmin', 'felt', 'gap', 'ids', 'mag',
       'magType', 'mmi', 'net', 'nst', 'place', 'rms', 'sig', 'sources',
       'status', 'time', 'title', 'tsunami', 'type', 'types', 'tz', 'updated',
       'url'],
      dtype='object')

In [5]:
print(sum(df.magType.isnull()), sum(df.type.isnull()))

1 0

In [6]:
df.magType.fillna('None', inplace=True)
sum(df.magType.isnull())

0

In [7]:
# a/
a = df[df.magType.str.contains('ml') & df.type.str.contains('explosion')]
len(a.index)

79

In [8]:
# b/
import re
b = df[df.title.str.contains('Alaska')]
b.iloc[:3, :]

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
6,NaN,NaN,20280432,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,",ak20280432,",1.7,ml,...,",ak,",automatic,1539473176017,"M 1.7 - 105km W of Talkeetna, Alaska",0,earthquake,",geoserve,origin,",-540.0,1539473596465,https://earthquake.usgs.gov/earthquakes/eventp...
18,NaN,NaN,20280424,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,",ak20280424,",2.0,ml,...,",ak,",automatic,1539468687232,"M 2.0 - 57km SSW of Kaktovik, Alaska",0,earthquake,",geoserve,origin,",-540.0,1539469037574,https://earthquake.usgs.gov/earthquakes/eventp...
21,NaN,NaN,20280421,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,",ak20280421,",1.7,ml,...,",ak,",automatic,1539467905609,"M 1.7 - 64km SSW of Salcha, Alaska",0,earthquake,",geoserve,origin,",-540.0,1539468224954,https://earthquake.usgs.gov/earthquakes/eventp...

In [9]:
pattern = re.compile(r".\s[-]?\d\.\d\s[-]\s[0-9]+")  # old: r".\s\d\.\d\s.\s[0-9]+"
text = "M 1.1 - 9km N of North Nenana, Alaska"  # M 1.1 - 9km N of North Nenana, Alaska M 1.7 - 105km W of Talkeetna, Alaska
matches = pattern.findall(text)
for match in matches:
    print(match[-3:].replace(' ', ''))  # old: print(match[-3:].replace('-', ''))

-9

In [21]:
pattern = re.compile(r".\s[-]?\d\.\d\s.\s[0-9]+")
lis = []
for i in b.title:
    matches = pattern.findall(i)
    for match in matches:
        num = match[-3:].replace('-', '').strip()
        if int(num) < 100:
            lis.append(int(num))  # arr.append(int(num)) arr.append(num)
            break
print(lis[:3])
print('the mean of mag in Alaska is: ', sum(lis) / len(lis))

[57, 64, 43]
the mean of mag in Alaska is:  54.12844702467344

In [11]:
# b.title.values

In [10]:
# this method does not work because len(boolean) != len(b) as seen in In [128] and In[129]


# pattern = re.compile(r".\s[-]?\d\.\d\s.\s[0-9]+")
# lis = []
# for i in b.title:
#     matches = pattern.findall(i)
#     for match in matches:
#         num = match[-3:].replace(' ', '')  # old: num = match[-3:].replace('-', '').strip()
#         lis.append(int(num))
#         break
# boolean = [i < 100 for i in lis]
# boolean[:10]

[False, True, True, False, True, True, True, True, True, True]

In [128]:
# len(boolean)

3567

In [129]:
# len(b)

3665

In [125]:
# len(lis)

3567

In [20]:
# c/ 
c = df
c.time = pd.to_datetime(c.time, unit='ms')
c.time

0      2018-10-13 23:59:28.010
1      2018-10-13 23:58:49.610
2      2018-10-13 23:57:42.610
3      2018-10-13 23:56:18.070
4      2018-10-13 23:51:56.050
                 ...
9327   2018-09-18 00:23:48.060
9328   2018-09-18 00:22:15.130
9329   2018-09-18 00:18:28.180
9330   2018-09-18 00:12:25.350
9331   2018-09-18 00:01:04.470
Name: time, Length: 9332, dtype: datetime64[ns]

In [25]:
c_q1 = c.mag[(pd.DatetimeIndex(c.time).month>=1)&(pd.DatetimeIndex(c.time).month<=3)].mean()
c_q1

nan

In [26]:
c_q2 = c.mag[(pd.DatetimeIndex(c.time).month>=4)&(pd.DatetimeIndex(c.time).month<=6)].mean()
c_q2

nan

In [30]:
c_q3 = c.mag[(pd.DatetimeIndex(c.time).month>=7)&(pd.DatetimeIndex(c.time).month<=9)].mean()
c_q3

1.466735124760082

In [31]:
c_q4 = c.mag[(pd.DatetimeIndex(c.time).month>=10)&(pd.DatetimeIndex(c.time).month<=12)].mean()
c_q4

1.5360446493569568